
  <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="hour">
      <th class="hourHeader" mat-header-cell *matHeaderCellDef> Hora/Dia </th>
       <td class="hourBody" mat-cell *matCellDef="let element"> {{element.hour}} </td>
    </ng-container>

    <ng-container matColumnDef="monday">
      <th mat-header-cell *matHeaderCellDef> Lunes </th>
       <td [ngStyle]="getColor(element.monday)" mat-cell *matCellDef="let element"><a *ngFor="let field of element.monday">{{field.description}}<br></a></td>
    </ng-container>

    <ng-container matColumnDef="tuesday">
      <th mat-header-cell *matHeaderCellDef> Martes </th>
       <td [ngStyle]="getColor(element.tuesday)" mat-cell *matCellDef="let element"> <a *ngFor="let field of element.tuesday">{{field.description}}<br></a> </td>
    </ng-container>

    <ng-container matColumnDef="wednesday">
      <th mat-header-cell *matHeaderCellDef> Miercoles </th>
       <td [ngStyle]="getColor(element.wednesday)" mat-cell *matCellDef="let element"> <a *ngFor="let field of element.wednesday">{{field.description}}<br></a> </td>
    </ng-container>

    <ng-container matColumnDef="thursday">
      <th mat-header-cell *matHeaderCellDef> Jueves </th>
       <td [ngStyle]="getColor(element.thursday)" mat-cell *matCellDef="let element"> <a *ngFor="let field of element.thursday">{{field.description}}<br></a> </td>
    </ng-container>

    <ng-container matColumnDef="friday">
      <th mat-header-cell *matHeaderCellDef> Vienes </th>
       <td [ngStyle]="getColor(element.friday)" mat-cell *matCellDef="let element"> <a *ngFor="let field of element.friday">{{field.description}}<br></a> </td>
    </ng-container>

    <ng-container matColumnDef="saturday">
      <th mat-header-cell *matHeaderCellDef> Sabado </th>
       <td [ngStyle]="getColor(element.saturday)" mat-cell *matCellDef="let element"> <a *ngFor="let field of element.saturday">{{field.description}}<br></a> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>