table {
	margin: auto;
	width: 94%;
	border: groove;
}
th.mat-header-cell{
	text-align: center;
	width: 14%;
	font-size: 100%;
	border: groove;
}
td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child
{
	padding: 0;
}
td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child{
	padding: 0;
}
td.mat-cell{
	border: groove;
	text-align: center;
	border-bottom-style: groove;
}
@media only screen and (max-width: 420px) {
    table {
    	display: none;
    	margin-top: 3%;
    }
}
