
  <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="hour">
      <th class="hourHeader" mat-header-cell *matHeaderCellDef> Hora/Dia </th>
       <td class="hourBody" mat-cell *matCellDef="let element"> {{element.hour}} </td>
    </ng-container>

    <ng-container matColumnDef="monday">
      <th mat-header-cell *matHeaderCellDef> Lunes </th>
       <td [ngStyle]="{'background':overlap(element.monday)}" mat-cell *matCellDef="let element"><a *ngFor="let field of element.monday">{{field}}<br></a></td>
    </ng-container>

    <ng-container matColumnDef="tuesday">
      <th mat-header-cell *matHeaderCellDef> Martes </th>
       <td [ngStyle]="{'background':overlap(element.tuesday)}" mat-cell *matCellDef="let element"> <a *ngFor="let field of element.tuesday">{{field}}<br></a> </td>
    </ng-container>

    <ng-container matColumnDef="wednesday">
      <th mat-header-cell *matHeaderCellDef> Miercoles </th>
       <td [ngStyle]="{'background':overlap(element.thursday)}" mat-cell *matCellDef="let element"> <a *ngFor="let field of element.thursday">{{field}}<br></a> </td>
    </ng-container>

    <ng-container matColumnDef="thursday">
      <th mat-header-cell *matHeaderCellDef> Jueves </th>
       <td [ngStyle]="{'background':overlap(element.wednesday)}" mat-cell *matCellDef="let element"> <a *ngFor="let field of element.wednesday">{{field}}<br></a> </td>
    </ng-container>

    <ng-container matColumnDef="friday">
      <th mat-header-cell *matHeaderCellDef> Vienes </th>
       <td [ngStyle]="{'background':overlap(element.friday)}" mat-cell *matCellDef="let element"> <a *ngFor="let field of element.friday">{{field}}<br></a> </td>
    </ng-container>

    <ng-container matColumnDef="saturday">
      <th mat-header-cell *matHeaderCellDef> Sabado </th>
       <td [ngStyle]="{'background':overlap(element.saturday)}" mat-cell *matCellDef="let element"> <a *ngFor="let field of element.saturday">{{field}}<br></a> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>