table {
	margin: auto;
	width: 94%;
	border: groove;
}
th.mat-header-cell{
	text-align: center;
	width: 14%;
	font-size: 100%;
	border: groove;
}
.hourBody{
	text-align: left;
}
.hourHeader.mat-header-cell.cdk-column-hour.mat-column-hour.ng-star-inserted{
	text-align: left;
}
td.mat-cell{
	border: groove;
	text-align: center;
	border-bottom-style: groove;
}
@media only screen and (max-width: 600px) {
    table {
    	display: none;
    	margin-top: 3%;
    }
}