<form>
  	<app-select-option-field [options]="careers" [placeholder]="'Carrera'" (valueSelected)="getLevels($event)"></app-select-option-field>
  	<app-chip-list [elements]="levels" [removable]="false" [selectable]="true" [word]="'Nivel'" [selected]="true"  (selectedElement)="getMateers($event)" ></app-chip-list>
  	<app-select-option-field [options]="mateers" [placeholder]="'Materias'" (valueSelected)="getGroups($event)" ></app-select-option-field>
  	<app-selection-list [options]="groups" [preselected]="selectedGroups" (valueSelected)="getSelectedGroups($event)"></app-selection-list><br>
  	<app-chip-list [elements]="selectedGroups" [removable]="true" [selected]="false" [word]= "'Grupo'" (removedElement)="getSelectedGroups($event)"></app-chip-list>
</form>
<app-schedule [dataSource]="scheduleSource"></app-schedule>