<form>
  	<app-select-option-field [options]="careers" [placeholder]="'Carrera'" (valueSelected)="getLevels($event)"></app-select-option-field>
  	<app-select-option-field [options]="levels" [placeholder]="'Nivel'" (valueSelected)="getMateers($event)"></app-select-option-field>
  	<app-multiple-option-select [options]="mateers" [placeholder]="'Materias'" (selectionChange)="getSelectedMateers($event)"></app-multiple-option-select>
  	<app-chip-list></app-chip-list>
</form>
<app-schedule></app-schedule>